<footer>
  <span>&copy; 2024 ZF Manutenções. Todos os direitos reservados.</span>
  <div class="divbotons">
    <a class="button" routerLink="/home">
      <fa-icon [icon]="['fas', 'home']"></fa-icon>
      Home
    </a>
    <button class="button" routerLink="/menu-mobile">
      <fa-icon [icon]="['fas', 'user-plus']"></fa-icon>
      Cadastro
    </button>
    <button class="button" routerLink="/menu-mobile">
      <fa-icon [icon]="['fas', 'file-alt']"></fa-icon>
      Lançamento
    </button>
    <button class="button" routerLink="/menu-mobile">
      <fa-icon [icon]="['fas', 'chart-line']"></fa-icon>
      Relatório
    </button>
  </div>
</footer>
